body {
    font-family: 'Oswald', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 70px;
}

h3 {
    font-size: 30px;
}

.color {
    color: tomato;
}

section {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 7%;
}

p {
    text-justify: auto;
}

.HIRE-ME {
    text-decoration: none;
    background-image: linear-gradient(rgb(254, 155, 138), orangered);
    padding: 10px 50px;
    color: aliceblue;
    font-weight: 700;
    border-radius: 5px;
}

p {
    font-size: 20px;
}

.half-width img {
    width: 85%;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.My-account {
    text-decoration: none;
    background-image: linear-gradient(rgb(254, 155, 138), orangered);
    padding: 10px 50px;
    color: aliceblue;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;

}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}